body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 15px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.row div {
    flex: 1;
}
#data-container {
    text-align: center;
}
#data-container div {
    display: flex;
    flex-direction: row;
}
#data-container div div {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    border: 1px solid #333333;
    margin: 10px;
}
.red {
    color: red;
}
.centered-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    width: 150px;
    height: 50px;
}
footer {
    display: flex;
    justify-content: flex-end;
}
footer p {
    margin-right: 15px;
}
@media only screen and (max-width: 800px) {
    #main-container {
        flex-direction: column;
    }
}